<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
    <h1 class="title">陪伴网</h1>
    <p class="slogan">困扰你的问题，竟然可以这样解决！
    <br>
       有些时候，你需要的就是有人陪！
    </p>
    <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">找人陪</a></p>
  </div>
 </div>
</div>

<div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">陪逛街</h2>
         <p class="lead">你是不是有时候逛街买回一堆衣服，等到要穿的时候，却发现根本不适合自己？
          <br> 来找个人陪你逛街吧，陪购师会根据你的身材、年龄、职业等等来指导你购物哦！
         </p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">陪跑步</h2>
         <p class="lead">你是不是下定决心锻炼身体，保持身材，却三天打渔两天晒网？
          <br>来找个陪跑er监督你跑步啦，不仅会监督还会指导你保护膝盖的方法哦！
         </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">陪聊天</h2>
         <p class="lead">你有没有心情郁闷的时候啊？失恋、失业、被逼婚、生二胎......
          <br>身边的人已经不想听你唠叨，或者你不想让熟悉的人知道自己的境况，
          <br>来找个人陪聊天吧，会给你一些柳暗花明的建议哦！
         </p>

       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
