<!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Third Slide -->
                <div class="item active">
                   <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/26/59006c35a7796.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">陪伴 ·保护你 监督你</h1>
                                <p data-animation="animated fadeInLeft">专业陪跑师 保护你的膝盖 让你的健身计划不落空</p>
                                <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">找人陪</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Second Slide -->
                <div class="item">
                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/26/59006dc27b3ee.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">陪伴 ·陪你逛 教你买</h1>
                        <p data-animation="animated lightSpeedIn">专业陪购师 陪你找到最适合自己的衣服 不再冲动购物</p>
                        <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">找人陪</a></p>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">
                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/26/59006da3a4f01.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">陪伴 ·听你说 解你忧</h1>
                        <p data-animation="animated fadeInRight">心理认知专家 倾听你的烦恼 陪你面对各种人际关系</p>
                        <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">找人陪</a></p>
                    </div>
                </div>
                <!-- End of Slide -->

            </div><!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->

    <div class="content-section-a">
       <div class="container">
         <div class="row">
           <div class="col-lg-5 col-sm-6">
             <hr class="section-heading-spacer">
             <div class="clearfix"></div>
             <h2 class="section-heading">陪逛街</h2>
             <p class="lead">你是不是有时候逛街买回一堆衣服，等到要穿的时候，却发现根本不适合自己？
              <br> 来找个人陪你逛街吧，会根据你的身材、年龄、职业等来指导你购物哦！
             </p>
           </div>
           <div class="col-lg-5 col-lg-offset-2 col-sm-6">
             <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
           </div>
         </div>
       </div>
     </div>

     <div class="content-section-b">
       <div class="container">
         <div class="row">
           <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
             <hr class="section-heading-spacer">
             <div class="clearfix"></div>
             <h2 class="section-heading">陪跑步</h2>
             <p class="lead">你是不是下定决心锻炼身体，保持身材，却三天打渔两天晒网？
              <br>来找个陪跑师吧，不仅监督你还教你保护膝盖的方法哦！
             </p>
           </div>
           <div class="col-lg-5 col-sm-pull-6  col-sm-6">
             <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
           </div>
         </div>
       </div>
     </div>

     <div class="content-section-a">
       <div class="container">
         <div class="row">
           <div class="col-lg-5 col-sm-6">
             <hr class="section-heading-spacer">
             <div class="clearfix"></div>
             <h2 class="section-heading">陪聊天</h2>
             <p class="lead">你是不是有面对情感婚姻、家庭关系、职场人际等束手无策的时候？
              <br>来找个专业陪聊师吧，会给你一些柳暗花明的建议哦！
             </p>
           </div>
           <div class="col-lg-5 col-lg-offset-2 col-sm-6">
             <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-12">
       <div class="row box">
         <div class="box-inner col-md-6 col-md-offset-3">
           <p class="slogan">现在就找人陪，享受五折优惠。</p>
           <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">找人陪</a></p>
         </div>
       </div>
     </div>
